# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# If you're using a SQLite database file with a different name, add it here:
# *.sqlite3

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py

# Static and media files
staticfiles/
media/

# Environment variables
.env

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# PyCharm
.idea/

# Logs and temp files
*.log
*.pot
*.mo
temp/
